{%extends 'base.html'%}
{% load bootstrap4 %}
{% load static%}

{% block content %}
    {{block.super}}
    <div id="home">
    <div class="container-fluid">
     <div class="anime1">
        <div class="neon1">
        <button type="submit" class="btn" style="margin-bottom: 1%; background-color:#52182e; color: white;">Welcome I'm</button>
        <div class="text1"style="color: white;" > 
            <h1>MAUREEN N. MWANGI</h1>
        </div>
        <div class="text1" style="color: white;"> 
            <h2>FULL-STACK SOFTWARE DEVELOPER</h2>
            <p></p>
        </div>
    </div>
        <div class="gradient1">
            <img src="/static/photos/moh.png" alt="">
        </div>
        <!-- <span class="spotlight"></span> -->
     
     </div>
   

    <div id="about">
        <!-- <h1 >ABOUT ME</h1> -->
        <div class="anime">
            <div class="neon">
            <span class="text " > ABOUT ME </span>
            <span class="gradient"></span>
            <span class="spotlight"></span>
          </div>
        </div>
        <div class="about">
            <div class="heading2">
                <img src="/static/photos/about.jpg" alt="" class="img-fluid" style="width: 600px ; height:400px;" >
            </div>
           <div class="paragraph1">
             <p>Am Maureen Mwangi. Am full stack software developer. A graduate <br> 
              of Moringa School. Am also a graduate from Maseno <br>
              University with a degree in BSc Soil Science with IT. <br>
              I have experience in using Figma, HTML, CSS, Javascript,<br>
              Angular, Python Flask and Python Django. Apart from coding, I love <br>
              reading, cooking and swimming. Am an open minded who loves to learn  <br>
              more and willing to trying new things and considering new ideas.
            </p>
           </div>
        </div>
    </div>
<div id="skill">

    <div class="anime">
        <div class="neon">
        <span class="text " > MY SKILLS </span>
        <span class="gradient"></span>
        <span class="spotlight"></span>
      </div>
    </div>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
            <div class="card h-100">
              <div class="card-body">
                <h5 class="card-title">Web Design</h5>
                <p class="card-text">
                    I have experience in web designing using Figma which is an online 
                    flatform for design
                </p>
              </div>
            </div>
          </div>

        <div class="col">
            <div class="card h-100">
              <div class="card-body">
                <h5 class="card-title">Front-end Web Development</h5>
                <p class="card-text">
                    I also have experience in using HTML and CSS, also javascript and
                     Angular programming languages for front end web development
                </p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card h-100">
              <div class="card-body">
                <h5 class="card-title">Back-end Web Development</h5>
                <p class="card-text">
                    I also have prior knowledge on backend web development using Django
                     framework and flask framework both in Python programming language 
                </p>
              </div>
            </div>
          </div>
          
</div> 
    </div>


<!-- # projects -->
<div class="container">
<div id="projects">
    <div class="anime">
        <div class="neon">
        <span class="text " > MY PROJECTS </span>
        <span class="gradient"></span>
        <span class="spotlight"></span>
      </div>
    </div>
    
    <div class="row row-cols-1 row-cols-md-2 g-6">
        <div class="col">
            <div class="card h-100">
              <div class="card-body">
            <strong> <a href="https://github.com/maureen-james/insuranceweb">insurance web project</a></strong>
             <div class="bg-image hover-overlay hover-zoom hover-shadow ripple">
             <img src="/static/photos/insurance.png" class="w-100" />
           
          <div class="mask" style="background-color: rgba(57, 192, 237, 0.2)"></div>

        <p>This is a website that shows a landing page of an insurance website.It contains description of services offered, prices and how to get in contact with them.</p>
      </div>
    </div>
</div>
</div>
      <div class="col">
        <div class="card h-100">
          <div class="card-body">
        <strong><a href="https://github.com/maureen-james/insta-clone">Instagram clone project</a></strong>
      <div class="bg-image hover-overlay hover-zoom hover-shadow ripple">
        <img src="/static/photos/insta.png" class="w-100" />
        
          <div class="mask" style="background-color: rgba(57, 192, 237, 0.2)"></div>
       
        <p>This is a clone Instagram website where the user can sign in the application, the user can upload pictures to the application, the user can see their profile, the user can follow others, the user can like and comment on other people's pictures.</p>
      </div>
    </div>
</div>
</div>

      <div class="col">
        <div class="card h-100">
          <div class="card-body">
        <strong> <a href="https://github.com/maureen-james/piazza-gallery"> gallery project</a></strong>
      <div class="bg-image hover-overlay hover-zoom hover-shadow ripple">
        <img src="/static/photos/gallery.png" class="w-100" />
        
          <div class="mask" style="background-color: rgba(57, 192, 237, 0.2)"></div>
       
       <p>This is a site that is a collection of pictures from different categories. It allows a user to search for a picture depending on the category and location the image was taken.</p>
      </div>
    </div>
</div>
</div>
      <div class="col">
        <div class="card h-100">
          <div class="card-body">
            <strong><a href="https://github.com/maureen-james/Awards"> Awards project</a></strong>
      <div class="bg-image hover-overlay hover-zoom hover-shadow ripple">
        <img src="/static/photos/award.png" class="w-100" />
        
          <div class="mask" style="background-color: rgba(57, 192, 237, 0.2)"></div>
      
       <p>This is an application that will allow users to post projects that they have created and get it reviewed by his/her peers on a scale of 1-10 based on design, usability and content.</p>
      </div>
    </div>
</div>
</div>
      <div class="col">
        <div class="card h-100">
          <div class="card-body">
            <strong> <a href="https://github.com/maureen-james/gurus"> laptop gurus project</a> </strong>
      <div class="bg-image hover-overlay hover-zoom hover-shadow ripple">
        <img src="/static/photos/gurus.png" class="w-100" />
        
          <div class="mask" style="background-color: rgba(57, 192, 237, 0.2)"></div>
        
        <p>This is an E-commerce website that provides an easy way to sell products to a large customer base.

        </p>
      </div>
    </div>
</div>
</div>
      <div class="col">
        <div class="card h-100">
          <div class="card-body">
            <strong><a href="https://github.com/maureen-james/Kim-s-feedback-form">Kim-s-feedback-form</a></strong>
      <div class="bg-image hover-overlay hover-zoom hover-shadow ripple">
        <img src="/static/photos/feedback.png" class="w-100" />
          <div class="mask" style="background-color: rgba(57, 192, 237, 0.2)"></div>
        
        <p>This is a feedback form to give to your clients or add to your website so that they can give you their opinion on your service. Continuous feedback from your clients will help you to improve your services and thereby land more clients.</p>
       
    </div>
    </div>
</div>
</div>

<!-- <button type="submit" class="btn mx-auto" style="margin-bottom: 1%; background-color:#52182e; color: white;"></button> -->
<a href="https://github.com/maureen-james?tab=repositories" class="btn mx-auto "style="margin-bottom: 1%; background-color:#52182e; color: white;">view all projects</a>
</div>


</div>
</div>

  <!-- CONTACTS -->
  <div id="contact">
    
<div class="anime">
    <div class="neon">
    <span class="text " > CONTACT ME </span>
    <span class="gradient"></span>
    <span class="spotlight"></span>
  </div>
</div>
<div id="section4" style="color: white;" >
      <!-- ======= Contact Section ======= -->
      <!-- <section id="contact" class="paralax-mf footer-paralax bg-image sect-mt4 route" style="background-image: url(assets/img/overlay-bg.jpg)"> -->
        <div class="overlay-mf"></div>
        <div class="container">
          <div class="row">
            <div class="col-sm-12">
              <div class="contact-mf">
                <div id="contact" class="box-shadow-full">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="title-box-2">
                        <h5 class="title-left">
                          Send Message 
                        </h5>
                      </div>
                      <div>
                        <!-- <form action="forms/contact.php" method="post" role="form" class="php-email-form">
                          <div class="row">
                            <div class="col-md-12 mb-3">
                              <div class="form-group">
                                <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
                              </div>
                            </div>
                            <div class="col-md-12 mb-3">
                              <div class="form-group">
                                <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
                              </div>
                            </div>
                            <div class="col-md-12 mb-3">
                              <div class="form-group">
                                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
                              </div>
                            </div>
                            <div class="col-md-12">
                              <div class="form-group">
                                <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
                              </div>
                            </div>
                            <div class="col-md-12 text-center my-3">
                              <div class="loading">Loading</div>
                              <div class="error-message"></div>
                              <div class="sent-message">Your message has been sent. Thank you!</div>
                            </div>
                            <div class="col-md-12 text-center">
                              <button type="submit" class="button button-a button-big button-rouded">Send Message</button>
                            </div>
                          </div>
                        </form> -->
                        <form action="https://formspree.io/f/mknyzarg" method="post" id="form">
                        <div class="row">
                          <div class="col-md-12 mb-3">
                            <div class="form-group">
                              <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
                            </div>
                          </div>
                          <div class="col-md-12 mb-3">
                            <div class="form-group">
                              <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
                            </div>
                          </div>
                          <div class="col-md-12 mb-3">
                            <div class="form-group">
                              <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
                            </div>
                          </div>
                          <div class="col-md-12">
                            <div class="form-group">
                              <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
                            </div>
                          </div>
                          <div class="col-md-12 text-center">
                            <!-- <button type="submit" class="button button-a button-big button-rouded">Send Message</button> -->
                            <input type="submit" onclick="send()" id="submit">
                          </div>
                        </div>
                        </form>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="title-box-2 pt-4 pt-md-0">
                        <h5 class="title-left">
                          Contact via
                        </h5>
                      </div>
                      <div class="more-info">
                        <p class="lead">
                   
                        </p>
                        <ul class="list-ico">
                          <li><span class="bi bi-geo-alt"> <img src="/static/photos/location.png" alt="" class="left"style="height: 30px; width:30px"></span> Nairobi, Kenya.</li>
                          <li><span class="bi bi-phone"> <img src="/static/photos/phone.png" alt="" class="left"style="height: 30px; width:30px"></span> +254 711861542</li>
                          <li><span class="bi bi-envelope"> <img src="/static/photos/email.png" alt="" class="left"style="height: 30px; width:30px"></span> maureenmwangi487@gmail.com</li>
                        </ul>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
  <!-- <div class="heading2">
    <img src="/static/photos/contact.avif" alt="" class="img-fluid" >
</div> -->

    <!-- <h1>CONTACT ME</h1> -->
    <div class="center mx-auto">
    <div class="me">                 
    <p class="contacts" style="padding-left: 50px;">
      Get in Touch with me
      maureenmwangi487@gmail.com
    </p>
    <div class="linked">
     
      <a href="https://www.linkedin.com/in/maureen-mwangi-262186213">
      <img src="/static/photos/linkedin.png" alt="" class="left" style="height: 30px; width:30px" >
      </a>
    </div>
    <div class="facebook">
      
      <a href="https://www.facebook.com/maureen.nyambura.3576">
      <img src="/static/photos/facebook (1).jpeg" alt="" class="left"style="height: 30px; width:30px">
      </a>
    </div>
    <div class="twitter">
      
      <a href="https://twitter.com/maureen_mwas">
      <img src="/static/photos/twitter.png" alt="" class="left" style="height: 30px; width:30px">
    </a>
    </div>
  </div> 
    </div>
  </div>
</div>









</div>






{% endblock %}    