{%extends 'base.html'%}
{% load bootstrap4 %}
{% load static%}

{% block content %}
    {{block.super}}
    <div class="container-fluid">
     <div class="anime">
        <div class="neon">
        <button type="submit" class="btn" style="margin-bottom: 1%; background-color: rgb(172, 24, 73); color: white;">Welcome I'm</button>
        <div class="text" > 
            <h5>MAUREEN N. MWANGI</h5>
        </div>
        <div class="text" > 
            <h6>FULL-STACK SOFTWARE DEVELOPER</h6>
        </div>
        <div class="gradient">
            <p></p>
        </div>
        <!-- <span class="spotlight"></span> -->
      </div>
     </div>
    </div>





{% endblock %}    