<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #19142a;">
    <!-- Container wrapper -->
    <div class="container-fluid">
      <!-- Toggle button -->
      <button
        class="navbar-toggler"
        type="button"
        data-mdb-toggle="collapse"
        data-mdb-target="#navbarRightAlignExample"
        aria-controls="navbarRightAlignExample"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <i class="fas fa-bars"></i>
      </button>
  
      <!-- Collapsible wrapper -->
      <a
      class="dropdown-toggle d-flex align-items-center hidden-arrow" href="#" id="navbarDropdownMenuAvatar" role="button" data-mdb-toggle="dropdown" aria-expanded="false" >
      <img src="/static/photos/gold-bg-designify.png" class="rounded-circle" height="25" alt="Black and White Portrait of a Man" loading="lazy" />
    </a>
      <div class="collapse navbar-collapse" id="navbarRightAlignExample">
        <!-- Left links -->
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#home" style= color:white;>Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#about" style= color:white;>About me</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#services" style= color:white;>Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#skill" style= color:white;>Skills</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#projects" style= color:white;>Projects</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#contact" style= color:white;>Contact us</a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link" href="#">Download CV</a>
          </li> -->
          <li class="btn btn-default">
            <a  class="nav-link active" aria-current="page" href="/static/data/mycv.pdf" download="CV.pdf" target="_blank" style= color:white;background-color:#d6323b>Download CV</a>
          </li>

            <!-- Dropdown menu -->
           

          </li>

        </ul>
        <!-- Left links -->
      </div>
      <!-- Collapsible wrapper -->
    </div>
    <!-- Container wrapper -->
  </nav>